$background-color: #333;
$navigation-color: rgba(255, 255, 255, 0.5);
$primary-color: #597D61;
$secondary-color: white;
$action-color:#980000;   //#f58002
$font-size: 16px;
$padding: 10px;
$font: monospace, 'Open Sans', sans-serif;

$rondSize: 30px;
